.textCenter{
    text-align: center;
}
.textFontWeight{
    font-weight: 700;
}
.profilePicture{
    width: 120px;
    height: 100px;
}
.textSmall{
    font-size: 14px;
}
.user-area .user-form-content .user-form .form-group {
    margin-bottom: 15px;
}
.form-control {
    height: 38px;
    color: #00aa55;
    border: 1px solid #e1e1e1;
    background-color: transparent;
    border-radius: 0;
    font-size: 14px;
    /*padding: 10px 20px;*/
    width: 100%;
}
/*option {*/
/*    font-weight: normal;*/
/*    display: block;*/
/*    white-space: nowrap;*/
/*    min-height: 1em;*/
/*    padding: 0px 2px 1px;*/
/*}*/
.newAddWarish{
    margin-top: 35px;
}
.textRight{
    text-align:right;
}
.TextBold{
    font-weight: 800;
}
.imageStyle{
    height: 100px;
    width: 115px;
}
.floatRight{
    float: right;
}
.imageTagInput{
    float: right;
    width: 210px;
}
.errorTextMessageRight{
    color: red;
   text-align: right !important;
}
.errorTextMessageLeft{
    color: red;
   text-align: left !important;
}